@charset "UTF-8";

@font-face {font-family: 'SemiBold';src: url("../fontes/Montserrat-SemiBold.otf");
}
@font-face {font-family: 'Light';src: url("../fontes/Montserrat-Light.otf");
}
@font-face {font-family: 'Montserrat'; src: url("../fontes/Montserrat-Regular.otf");
}
@font-face {font-family: 'MontserratBlack'; src: url("../fontes/Montserrat-Black.otf");
}

h1 {
	font-family: 'MontserratBlack', sans-serif;
}

h2 {
	font-family: 'SemiBold', sans-serif;
}

h3 {
	font-family: 'Montserrat', sans-serif;
}

h4 {
	font-family: 'Light', sans-serif;
}
p {
	font-family: 'arial', sans-serif;
}

.conteiner {
	width: 100%;
	height: 100vh;
	display: block;
}

.left {
	position: fixed;
	background-color: #2b5876;
	width: 30%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.conteudo-esquerda {
	padding: 80px;
	max-width: 100%;
	margin-top: auto;
	margin-bottom: auto
}

.foto {
	padding: 10px;
	display: flex;
	justify-content: center;

}
.img-perfil {
	height: 50%;
	width: 50%;
	border-radius: 50%;
}

.info-esquerda {
	padding: 15px 0 40px 0;
	line-height: 20px;
	color: white;
}

.right {
	position: relative;
	float: right;
	height: 100vh;
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.conteudo-direita {
	padding: 70px;
	max-width: 100%;
	margin-top: auto;
	margin-bottom: auto;
}
.intro {
	width: 100%;
	font-size: 40px;
	line-height: 33px;
	text-align: center;

}
span.linha {
	font-family: 'Light', sans-serif;
	font-size: 25px;
	letter-spacing: 10px;
}
.info-direita {
	padding: 40px 0 40px 0;
	line-height: 20px;
}

footer {
	font-size: 15px;
	opacity: 0.7;

}